.jekyll-metadata
_site
feed.xml
.sass-cache*
/notes/production/*.tex
/notes/production/*.synctex.gz
/notes/utility/*.tex
/notes/utility/*.synctex.gz
/notes/dynamicprog/*.tex
/notes/dynamicprog/*.synctex.gz
/notes/*/*.tex
/notes/*/*.synctex.gz
